img {
    height: auto;
}

#stumponstage {
    border-radius: 20%;
}

aside nav h3 {
    margin-bottom: 0px;
}

ul.social img {
    max-width: 36px;
    max-height: 34px;
    vertical-align: middle;
}

a.sc-fedora img {
    border-radius: 0;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
    margin-right: 0.5em;
}

img.align-center {
    display: block;
    margin: 0 auto;
}

/* Lightbox support */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

.lightbox img {
    max-width: 98%;
    max-height: 90%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

/* Make sure the caption works correctly when we float the image */
.lightbox-block.align-right p.align-right {
    float: none;
    text-align: right;
}

.lightbox-block.align-left p.align-left {
    float: none;
    text-align: left;
}

/* Don't want the divider */
.lightbox-divider {
}
